<!doctype html>
<html>
	<head>
		<title>istoryUP</title>
		<link rel="stylesheet" href="../static/main.css">
	</head>
	<body>
		<div>
		<div class="topics">
			<ol>
				{% for topic in topics%}
					<form action = "/viewTopic" method = "post">
						<li>
							<input type="hidden" name="topic_id" value="{{topic.id}}">
							<button type = "submit">{{topic.headline}}</button>
						</li>
					</form>
				{% endfor %}
			</ol>
		</div>

		<div class="contents">
				<ol>
					{% for message in messages%}
					<li>
						{{message.content}} -
						{{message.sender}} -
						{{message.createdAt.toISOString()}}
					</li>
					{% endfor %}
				</ol>
				<div class = "form">
				<form action="/send" method="post">
					<input type="text" name="content" placeholder="Write message" autofocus>
					<button>Send</button>
				</form>
			</div>
				<div class = "form">
				<form action="/createTopic" method="post">
					<input type="text" name="headline" placeholder="Write new topic" autofocus>
					<button>Start the conversation</button>
				</form>
			</div>
	</div>
	</body>
</html>
