@font-face {
    font-family: "FangSong";
    src: url(./fonts/simfang.ttf) format("truetype");
}

body {
	font-family: FangSong;
	color: #FFF;
	background: #F0F0F0;
}

div.form{
	padding: 3px;
	margin: auto;
}

div.card {
	background: #F5F5F5;
	width: 80%;
	height: 10%;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
	margin: 20px;
	overflow: auto;
}

div.card-header {
	text-align: center;
	color: black;
    padding: 10px;
	height: 1%;
}

div.card-container {
	background-color: #4CAF50;
    color: white;
    padding: 10px;
}

div.button{
	padding: 5px;
}

div.login{
	float: right;
}

div.topics{
	width: 20%;
	background-color: #4CAF50;
	float: left;
	padding: 3%;
	margin: auto;
}

div.contents{
	padding: 3%;
	margin-left: 3%;
}

.clearfix{
	clear: both;
}

.center--text{
	text-align: center;
}


label:not(.remember-me) {
    display: inline-block;
    min-width: 150px;
	padding-left: 6%;
	padding-right: 6%;
}

input:not([type="checkbox"]) {
    width: 50%;
    padding: 0.5em;
}

input[type=text], select {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    border: 1px solid #FFFFFF ;
    border-radius: 4px;
    box-sizing: border-box;
}
